.Messages {
  background-color: white;
  padding: 15px 20px;
  margin: 15px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - margin-top);
  display: flex;
  flex-direction: column;
  box-shadow: 3px 2px 10px -6px black;
}

.MessagesBody {
  overflow: auto;
  height: 100%;
  margin-bottom: 25px;
}

.RoomDoesNotExist {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
}

.Topic {
  font-size: 25px;
  margin: 0;
}
