.Messages {
  background-color: white;
  padding: 15px 20px;
  margin: 15px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - margin-top);
  display: flex;
  flex-direction: column;
  box-shadow: 3px 2px 10px -6px black;
}

.Topic {
  font-size: 25px;
  margin: 0;
}
