.Message {
  display: flex;
  max-width: 80%;
  margin-bottom: 10px;
}

.MessageBody {
  padding-left: 10px;
}

.MessageHeader {
  font-weight: bold;
  height: fit-content;
}

.MessageTimestamp {
  font-weight: 300;
  display: inline-block;
  margin: 0;
}

.MessageText {
  margin: 0;
}

.UserImage {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
