.MessageInput {
  box-sizing: border-box;
  height: 40px;
  width: calc(100%);
  /* bottom: 40px; */
  display: flex;
  align-items: center;
}

.Input {
  flex-grow: 7;
  margin-right: 3px;
  border-radius: 35px;
  padding-left: 10px;
  border: none;
  box-shadow: 2px 1px 3px black;
  height: 100%;
}

.SendIcon {
  height: 64px;
  flex-grow: 1;
  cursor: pointer;
  max-width: 100px;
}

.Button {
  flex-grow: 1;
  border-radius: 3px;
  cursor: pointer;
  background-color: #804c6d;
  color: white;
  font-size: 16px;
  font-weight: lighter;
  border: none;
  box-shadow: 2px 1px 3px black;
}

.Button:hover {
  background-color: #986e89;
}
