.Toolbar {
  width: 100%;
  padding: 5px;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #804c6d;
  color: white;
  display: flex;
  align-items: center;
  z-index: 100;
  font-family: "Open Sans", sans-serif;
}

.Link {
  text-decoration: inherit;
  color: inherit;
}

.DevSpeak {
}

.MenuButton {
  cursor: pointer;
  margin-right: 15px;
}

@media (min-width: 700px) {
  .MenuButton {
    display: none !important;
  }
}
