.ContentContainer {
  position: absolute;
  top: 56px;
  width: 100%;
  height: calc(100% - 56px);
  display: flex;
  justify-content: center;
  background-color: rgba(256, 256, 256, 0.7);
  text-align: center;
}

.StartChatting {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 700px) {
  .ContentContainer {
    left: 280px;
    width: calc(100% - 280px);
  }
}
