.Sidebar {
  position: fixed;
  width: 280px;
  max-width: 70%;
  left: 0;
  height: calc(100% - 56px);
  top: 56px;
  z-index: 300;
  background-color: #804c6d;
  color: white;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

.Open {
  transform: translateX(0);
}

.Close {
  transform: translateX(-100%);
}

@media (min-width: 700px) {
  .Sidebar {
    transform: translateX(0);
  }
  .Button {
    display: none;
  }
}
